{% extends 'layout.html.twig' %}

{% block title %}Mes articles{% endblock %}

{% block body %}
<h1>Bienvenue sur le blog</h1>
<ul>
    {% for post in posts %}
        <li>
            <a href="{{ path('blog.show', {slug: posts.slug, id: posts.id}) }}">{{ post.name }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}